header{
    background-color: slategray;
    padding: 2px;
    text-align: center;
    position: fixed;
    width: 100%; 
    top: 0;
    left: 0;
}
header h1{
   color: white;
   border: 6px solid white;
   padding: 6px 12px;
    display: inline-block;
}
.container img{
    width: 34%;
    display: flex;
    margin: auto;
    margin-top: 10%;
    padding: 0 40px;
    box-sizing: border-box;
    max-width: 100%;

}
.info{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
.info ul{
    text-align: center;
    max-width: fit-content;
}
.info li{
    position: relative;
    top: -10px;
    margin: 0px;
    width: 480px;
    display: inline-block;
    font-size: 20px;
}
.info li p{
    color: #4b4b4b;
    font-size: 22px;
}
p{
    text-align: center;
    font-size: 23px;
}
.container p{
    font-weight: bold;
}

@media screen and (max-width: 1023px){

    .info li{
        position: relative;
        display: inline-block;
        font-size: 14px;
    }  
}

@media screen and (max-width: 930px){

    .info li{
        position: relative;
        display: block;
        text-align: center;
        font-size: 16px;
        left: 170px;
    }  

}

@media screen and (max-width: 720px){

    .container img{
        display: flex;
        width: 300px;
    }
    .info li h2{
        position: relative;
        color: #324141;
        right: 125px;
    }
}
@media screen and (max-width: 610px){
        .info li h2{
        position: relative;
        right: 180px; 
    }
}
@media screen and (max-width: 445px){
    .info li h2{
        position: relative;
        right: 230px;
    }
}
@media screen and (max-width: 425px){
    .container img{
        position: static;
        width: 800px;
    }
    .info li h2{
        right: 250px;
    }
}
@media screen and (max-width: 400px){
    .container img{
        top: 10%;
        position: static;
        width: 800px;

    }
}
    .info li h2{
        font-size: 22px;
        position: relative;
        right: 252px;
    }
    
    @media screen and (max-width: 350px){
        .info li h2{
        position: relative;
        right: 280px; 
    }

}
